html {
  background-color: #C7BBA5;
  color: #4A494E;
}

.App-header {
  background-color: #86AF49;
  height: 100px;
  padding: 20px;
  color: #E5E5E5;
  list-style: none;
}

.App-header a, .seeds-menu a {
  color: #B1832E;
  text-decoration: none;
}

.App-header a:hover, .App-header a:active, .seeds-menu a:hover {
  color: #8A7560;
  text-decoration: underline;
}

.header-links-list {
  width: 155px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-links-list li {
  margin: 5px;
  font-size: 1.3em;
}
h1 {
  padding: 0;
}

.App-logo {
  float: right;
  height: 100px;
}

.static-page {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.static-page, .add-seed, .bulletin-board  {
  padding: 0 20px;
}

h2 {
  margin-bottom: 0;
}

.seed-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 70%;
  overflow: auto;
}

.add-form, .edit-seed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-form label, .edit-seed label {
  margin: 8px;
  padding-top: 5px;
  font-weight: 700;
}

.add-seed {
  margin: 0 auto;
  height: 500px;
  width: 70%;
}

h2, .seeds-menu {
  text-align: center;
  margin-bottom: 0;
}

.resource-ul {
  list-style: none;
}

.Home-logo {
  height: 300px;
}
